<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="static/img/icons8-круглая-лампа-48.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <meta charset="UTF-8">
    <title>Генератор ников</title>
</head>
<body>

<div class="wrapper">
    <input type="checkbox" id="check-menu">
    <label for="check-menu"></label>
    <div class="burger-line first"></div>
    <div class="burger-line second"></div>
    <div class="burger-line third"></div>
    <div class="burger-line fourth"></div>
    <nav class="main-menu">
        <a href="/">Генератор ников</a>
        <a href="/cube">Бросить кубик</a>
    </nav>
</div>

<div id="button_div">
    <button id="nick_button" onmousedown="viewDiv()">Жмяк</button>
</div>

<div id="div1"> </div>

<div class="mini">*Минимализм</div>

<script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>